<div class="card mb-4">
  <div class="card-body text-center" style="background-color: var(--dark-primary); color: var(--light);">
    <img src="https://media.licdn.com/dms/image/v2/D5603AQH1W_n-FQK_jw/profile-displayphoto-shrink_800_800/B56ZVYrcYWGUAc-/0/1740949539200?e=1752105600&v=beta&t=am9HsQCufIPF1W84fhZchwlrhhSpXPlrlqO6KT6OInE" class="rounded-circle mb-3" alt="Profile Photo" width="150" height="150" height="150" class="rounded-circle mb-3 profile-img" alt="Profile Photo">
    <h5 class="card-title">Gean Salasan</h5>
    <p class="card-text">
      <i class="bi bi-geo-alt"></i> Sleman, DI. Yogyakarta,Indonesia<br>
      <a href="https://wa.link/ruuziq" class="text-light mx-2"><i class="bi bi-whatsapp" > Whatsapp Me</i></a><br>
      <i class="bi bi-envelope"></i> gean.salasan@gmail.com
    </p>
  </div>
</div>