<div class="card mb-4">
  <div class="card-body text-center" style="background-color: var(--dark-primary); color: var(--light);">
    
    <%= image_tag 'photo.jpeg', :class => "rounded-circle mb-3" , :height => 150 , :width => 150 %>
    <h5 class="card-title">Gean Salasan</h5>
    <p class="card-text">
      <i class="bi bi-geo-alt"></i> Sleman, DI. Yogyakarta,Indonesia<br>
      <a href="https://wa.link/ruuziq" class="text-light mx-2"><i class="bi bi-whatsapp" >Whatsapp Me</i></a><br>
      <i class="bi bi-envelope"></i> gean.salasan@gmail.com
    </p>
  </div>
</div>