<div class="card mb-4">
  <div class="card-header" style="background-color: var(--dark-secondary); color: var(--light);">
    <h5 class="mb-0">Technical Skills</h5>
  </div>
  <div class="card-body">
    <h6>Operating Systems</h6>
    <p>macOS, Ubuntu, Windows</p>
    
    <h6>Version Control</h6>
    <p>GIT, SVN</p>
    
    <h6>Programming Languages</h6>
    <p>Ruby, Swift, Golang</p>
    
    <h6>Security Tools</h6>
    <p>BurpSuite, Cloudflare, Wazuh</p>
    
    <h6>Frameworks & Tools</h6>
    <p>Ruby on Rails, Android Studio, Xcode</p>
  </div>
</div>