<div id="<%= dom_id reference %>">
  <p>
    <strong>Name:</strong>
    <%= reference.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= reference.position %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reference.email %>
  </p>

</div>
